<?xml version="1.0" encoding="utf-8" ?>
<cssfiles>
<!-- 	<file cssvpath="/Data/style/forums/style.css" imagebasevpath="/Data/style/forums/">none</file>
	<file cssvpath="/Data/style/CalExtender/Calendar.css" imagebasevpath="/Data/style/CalExtender/">none</file>
	<file cssvpath="/Data/style/adminmenu/style.css" imagebasevpath="/Data/style/adminmenu/">none</file>
	<file cssvpath="/Data/style/common/style.css" imagebasevpath="/Data/style/common/">none</file>
	<file cssvpath="/Data/style/jplayer/bluemonday/jplayer.blue.monday.css" imagebasevpath="/Data/style/jplayer/bluemonday/">none</file>
	<file cssvpath="/Data/style/nivoslider/default/default.css" imagebasevpath="/Data/style/nivoslider/default/">none</file> -->

<!-- Skin Styles -->
	<file>css/main.css</file>
		
<!--
	Note: Your custom css/less file(s) should be at the bottom so they have higher priority in the css cascade and will override anything above. Create and use style-site.css for adding your own custom CSS to the skin. Don't forget reset you site skin guid to refresh the cache.
-->
	<!-- <file>style-site.css</file>	 -->

</cssfiles>